body, html, p {
    margin: 0;
    padding: 0;
    font-family: Roboto, Arial;
}

.header {
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightgray;
    padding: 15px 30px;
    height: 45px;
    position: fixed;
    opacity: 1;
    z-index: 1000;
}

.title {
    font-family: Roboto, Arial;
    font-size: 20px;
    flex-grow: 1;
    text-align: center;
}

.sidebar {
    position: fixed;
    left: 0;
    top: 75px;
    bottom: 0;
    width: 150px;
    background-color: lightblue;
    padding: 30px;
    border-right-style: solid;
    border-right-color: rgba(172, 172, 172, 0.288);
    border-right-width: 1.5px;
}

.sidebar a {
    display: block;
    margin: 15px 0;
    color: black;
    text-decoration: none;
    font-size: 20px;
}

.right {
    display: flex;
    align-items: center;
}

.menu, .dark-mode-toggle, .search {
    cursor: pointer;
    margin-right: 30px;
    font-size: 24px;
}

.dark-mode-toggle {
    height: 30px;
}

main {
    padding-left: 300px;
    margin-right: 22.5px;
    padding-top: 120px;
}

.heading {
    font-size: 45px;
    font-weight: 500;
}

.body {
    margin-top: 50px;
    
}

.news{
    width:300px;
}

.thumbnail{
    width: 100%;
}


.news-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px;
    row-gap: 30px;
}

@media (max-width: 1300){
    .news-grid{
        grid-template-columns: 1fr 1fr;
    }
}